.Directions {
    background-color: #18274A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 5px 4.7rem 0rem 4.7rem;
    align-items: center;
    gap: 1rem;
    text-align: center;
}



.lks {
    width: auto;
    text-decoration: none;
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 700;

}

.lks:hover:not(#Mais) {
    transition: 0.3s;
    color: #495A6B;
    cursor: pointer;
    transform: scale(1.2);

}


.Hr{
    width: 86rem;
    height: 2.5px;
    max-width: 100%;
    background-color: white;
}



@media screen and (min-width: 600px) {
    .Directions {
        flex-direction: row;
    }
}


@media screen and (min-width: 1150px) {
    .Directions {
        flex-direction: row;
        gap: 2.8em;

    }

    .lks {
        font-size: 1.9rem;

    }
}