.btn {
    background-color: #4682B4;
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 0.8rem;
}

.btn button {
    width: auto;
    height: auto;

    font-size: 1.5rem;
    color: aliceblue;
    padding: 10px;
    background-color: transparent;
    border: 2px solid transparent; /* Defina uma borda transparente */

    font-weight: 700;
}

.btn button:hover {
    transition: 0.5s;
    
    color: rgba(50, 44, 162, 1);
    border-top-color: rgba(50, 44, 162, 1); /* Altera a cor da borda no hover */
    border-bottom-color: rgba(50, 44, 162, 1); /* Altera a cor da borda no hover */
    
    transform: scale(1.4);
}




/* 


rgba(50,44,162,1)

.btn button{
    width: auto;
    height: auto;

    font-size: 1.5rem;
    color: aliceblue;
    padding: 10px;
    background-color: transparent;
    border-image-source: url(https://cdn3.ecshop.com.br/mgno9rbpq/product_images/t/851/pp1238__22093.png);
    border-image-repeat:round;
    border-image-slice: 460;
    border-image-width: 3px;
    font-weight: 700;
}

.btn button:hover{
    border-image-source: url(https://cdn3.ecshop.com.br/mgno9rbpq/product_images/t/851/pp1238__22093.png);
    border-image-repeat:round;
    border-image-slice: 460;
    border-image-width: 3px;

    border-image-outset: 5;
    transition: 0.3s;

    color: transparent;
    background: -webkit-linear-gradient(90deg, rgba(50,44,162,1) 47%, rgba(47,47,244,1) 76%, rgba(26,147,171,1) 96%);
    background-clip: text;
    -webkit-background-clip: text;
}

*/