.Directions {
    background-color: #4682B4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 5px 4.7rem 0 4.7rem;
    align-items: center;
    gap: 1rem;
    text-align: center;
}



.lks {
    width: auto;
    text-decoration: none;
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 700;


}

.lks:hover:not(#Mais) {
    transition: 0.3s;
    color: rgba(50, 44, 162, 1);
    border: 4rem rgba(50, 44, 162, 1);
    cursor: pointer;
    transform: scale(1.2);

}

#Mais:hover {
    transform: rotate(50deg);
    transition: 1s;
}

@media screen and (min-width: 600px) {
    .Directions {
        flex-direction: row;
    }
}


@media screen and (min-width: 1150px) {
    .Directions {
        flex-direction: row;
        gap: 2.8em;

    }

    .lks {
        font-size: 2rem;

    }
}