@import url('../../global.css');

.full_clientes {
    display: flex;
    flex-direction: column;
    background-color: #18274A;
    align-items: center;
}



.MidleClient {
    display: flex;
    justify-content: center;
}

.MidleClient_img {
    border-radius: 40px;
    width: 604px;
    height: auto;
    padding: 20px 20px 5px 20px;
    max-width: 100%;
}



.table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    width: 900px;
    gap: 1rem;
    margin-top: 25px;
    margin-bottom: 120px;


}

