@import url('../../global.css');

.full {
    display: flex;
    background-color: #18274A;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
    width: auto;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 1.5rem 2.5rem 0rem 2.5rem;

}



.img {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
    border-radius: 30px;
}

.full h1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 2.5rem;
    text-align: center;
    color: hsl(5deg 84% 63%);    
}




.links {
    max-width: 100%;
    flex-wrap: wrap;
    height: auto;
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 15px;

}

.links ul {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 2.3rem;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}

.links ul li {
    text-decoration: none;
    max-width: 100%;
    flex-wrap: wrap;
    list-style: none;
    
}



.img_icons:active {
    position: relative;
    top: 5px;
    
}


.img_icons {
    width: 3.2rem;
    height: 3.2rem;
}




@media only screen and (max-width: 420px){
    .links ul{
    gap: 2rem;

    }

}
@media only screen and (max-width: 600px){
    .img_icons {
        width: 2.7rem;
        height: 2.7rem;
    }

    .full h1{
        font-size: 2.3rem;
    }
    .img {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 10px 0 10px 0;
        max-width: 12rem;
        max-height: 12rem;
    }

}


