@import url('../../global.css');

.Hr{
    width: 82rem;
    height: 2.5px;
    background-color: white;
    margin: 10px 5px;
    max-width: 100%;
}

.MidleService{
    background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(70,130,180,1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: auto;
    height: auto;
}

